<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <title>Site Admin</title>

    </head>

<body>

    <div class="container">
        <form action="/admin" method="POST">
            {{ service_formset.management_form }}
            {% for form in service_formset.forms %}
                <fieldset>
                {% for hidden in form.hidden_fields() %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields()%}
                    {% if field.name == "display_name" %}
                    <h2>{{ field.value() }}</h2>
                    {% else %}
                    <label>{{ field.label|safe }}</label>
                    {{ field }}
                    {% endif %}
                {% endfor %}
                </fieldset>
            {% endfor %}

            <div class="actions">
                <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
            </div>
        </form>
    </div>

</body>
</html>
