{% extends "base.html" %}
{% block content %}
<form action="/admin" method="POST">
    {{ service_formset.management_form }}
    {% for form in service_formset.forms %}
        <fieldset>
        {% for hidden in form.hidden_fields() %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields()%}
            {% if field.name == "display_name" %}
            <h2>{{ field.value() }}</h2>
            {% else %}
            <label>{{ field.label|safe }}</label>
            {{ field }}
            {% endif %}
        {% endfor %}
        </fieldset>
    {% endfor %}

    <div class="actions">
        <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
    </div>
</form>
{% endblock content %}