{% extends "base.html" %}
{% block content %}
<p>
 You are signed in with the Twitter screen name: {{ twitter_screen_name }}. <a href="/signout">sign out</a>
</p>
<p>
A local profile has been created and associated this data with it:
</p>
<form action="/profile" method="POST">
<div>
<input type="text" name="example_data" value="{{ example_data }}"/>
</div>
<div>
  <input type="submit" value="update profile">
</div>
</form>
{% if profile_saved %}
<div>
Profile Saved...
</div>
{% endif %}
{% endblock %}