{% extends "base.html" %}
{% block content %}

<html>
  <body>
    <p>
        This is a simple application which demonstrates how to use <a href="https://dev.twitter.com/docs/auth/sign-in-with-twitter">Sign in with Twitter</a>,
        Twitter's delegated authentication system, with <a href="http://code.google.com/appengine/">Google App Engine</a>.
    </p>
    <p>
        The code is available on <a href="https://github.com/baus/App-Engine-Sign-In-With-Twitter">github</a>.
    </p>
    <p>
    <a href="/signin"><img alt="Sign in with Twitter" src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png"/></a>
  </p>
{% endblock %}